@import url("./style.css");

section.apresentation {
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 5rem 16rem 15rem 16rem;
  align-items: center;
  text-align: center;
  
  .apresentation-logo {
    width: 53.6rem;
  }
  .apresentation-text {
    display: flex;
    flex-flow: column;
    align-items: center;

    p {
      font-size: 3.6rem;
    }
  }
}
