@import url("./style.css");

section.cortes-menu {
  position: relative;

  .cortes-top-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
  .cortes-bottom-bg {
    position: absolute;
    bottom: -30rem;
    left: 0;
    z-index: -1;
    width: 100%;
  }
  .cortes-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .cortes-menu-title {
      font-weight: 400;
      font-size: 10em;
      letter-spacing: 16px;
      text-align: center;
      padding-top: 19.4rem;
      margin-bottom: 3rem;
      cursor: default;
    }
  }
  .menu-selectors-container {
    padding-top: 14.6rem;
    .menu-selector {
      display: flex;
      flex-flow: column;

      justify-content: center;

      margin-top: -14.6rem;
      min-height: 62.9rem;

      background-repeat: no-repeat;
      background-size: 102%;
      background-position: center;
      transition: background-position 300ms ease;
      &:hover {
        background-position: top;
      }
    }

    .pampeira-card {
      background-image: url("../assets/linha-pampeira-bg.png");
      align-items: end;
      text-align: end;
      z-index: 10;
    }
    .novilho-card {
      background-image: url("../assets/linha-novilho-jovem-bg.png");
      align-items: start;
      text-align: start;
      z-index: 4;
    }
    .boutique-card {
      background-image: url("../assets/linha-boutique-bg.png");
      align-items: end;
      text-align: end;

      z-index: 3;
    }
    .produtos-card {
      margin-bottom: 40rem;

      background-image: url("../assets/produtos-bg.png");
      align-items: start;
      text-align: start;
      z-index: 2;
    }

    .menu-text {
      padding: 18rem 12rem;
      h2 {
        font-size: 6.4rem;
        font-family: var(--roadstore-font);
        font-variant: small-caps;
        text-transform: uppercase;
        font-weight: 400;
        padding-bottom: 1.2rem;
      }
      p {
        font-size: 2.4rem;
        font-family: var(--barlow-font);
        font-weight: 400;
        line-height: 28px;
        max-width: 54rem;
        padding-bottom: 3rem;
      }
      button {
        font-family: var(--roadstore-font);
        font-size: 2rem;
        font-weight: 300;
        font-variant: small-caps;
        text-transform: uppercase;
        padding: 2rem 3rem;
        background-color: var(--pink-gray);
        border-radius: 2px;
      }
    }
  }
}
