@import url("./classes.css");
@import url("./media-queries/home-media-queries.css");
@import url("./media-queries/menu-media-queries.css");

:root {
  --semi-black: #0a0a0a;
  --semi-white: #f5e1c8;
  --light-gray: #51484c;
  --dark-gray: #121011;
  --pink-gray: #2c2125;
  --dark-pink-gray: #161213;
  --pink-red: #e53344;
  --pink-red-dark: #7f1c26;
  --pink-red-30: rgba(229, 51, 68, 0.3);
  --pink-red-10: rgba(229, 51, 68, 0.1);

  --roadstore-font: "Roadstore";
  --barlow-font: "Barlow";

  --img-shadow: 0 0.6rem 1rem rgb(3, 1, 1, 0.5);
  --card-shadow: 0.5rem 0.5rem 1.5rem rgb(3, 1, 1, 0.5);
}
@font-face {
  font-family: "Roadstore";
  src: url("../font/roadstore-font.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: var(--barlow-font);
  background-color: var(--semi-black);
  color: var(--semi-white);
}
h1,
h2,
h3 {
  font-family: "Roadstore";
}
h2 {
  filter: drop-shadow(0 0.8rem 1rem rgba(255, 255, 255, 0.15));
}
a {
  text-decoration: none;
  color: var(--semi-white);
}
p {
  font-size: clamp(1.4rem, 1.26rem + 0.4464vw 2.4rem);
}
span {
  font-family: var(--barlow-font);
}
a {
  cursor: pointer;
}
button {
  background-color: var(--pink-red-dark);
  color: var(--semi-white);
  border: none;
  border-radius: 0.6rem;

  text-transform: uppercase;
  font-family: var(--barlow-font);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 90%;

  cursor: pointer;
  box-shadow: 0.4rem 0.4rem 1rem rgba(3, 1, 1, 0.4);

  transition: background-color 0.2s ease;
}
button:hover {
  background-color: var(--pink-red);
}
.hidden,
.media-hidden {
  display: none !important;
}
