@import url("./general.css");

.lojas {
  padding: 10rem 12rem 0 12rem;
  background-image: url("../assets/lojas-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.lojas-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lojas-title {
  font-size: 7.2rem;
  font-weight: 400;
  
}

.lojas-content-container {
  display: flex;
  justify-content: space-between;
  padding-top: 11.5rem;
  padding-bottom: 19rem;
  gap: 3rem;
}

.lojas-map {
  position: relative;
  max-width: 77rem;
  width: 100%;
  height: auto;
}

.lojas-map img {
  min-width: 20rem;
  max-width: 77rem;
  width: 100%;
  height: auto;
}

.lojas-areas {
  display: none;
}

.lojas-socials h3 {
  font-size: 4.2rem;
  font-weight: 400;
  max-width: 47.5rem;
  margin-bottom: 2rem;
  font-family: var(--barlow-font);
  font-variant: small-caps;
  text-align: center;
}

.lojas-lista {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.lojas-lista a .dom-item-lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.6rem;
  background-color: var(--pink-gray);
  box-shadow: inset 0px 1px 2px rgba(75, 62, 62, 0.5),
    inset 0px -1px 0px var(--semi-black), inset -1px 0 0px rgba(75, 62, 62, 0.2),
    inset 1px 0 0px rgba(75, 62, 62, 0.2);

  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.1s ease, filter 0.2s ease;
}

.lojas-lista a .dom-item-lista .item-lista-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.lojas-lista a .dom-item-lista .item-lista-content img {
  width: 3rem;
  height: 3rem;
}

.lojas-lista a .dom-item-lista img {
  width: 1.8rem;
  height: 1.8rem;
  transition: transform 0.3s ease;
}

.lojas-lista a .dom-item-lista span {
  font-size: 2rem;
}

.lojas-lista a .dom-item-lista:hover {
  transform: scale(1.05);
  box-shadow: inset 0px 1px 2px rgba(75, 62, 62, 0.5),
    inset 0px -1px 0px var(--semi-black), inset -1px 0 0px rgba(75, 62, 62, 0.2),
    inset 1px 0 0px rgba(75, 62, 62, 0.2), 0 1px 0 0 var(--semi-black);
  filter: brightness(1.4);
}
