main {
  height: 90rem;
  position: relative;
}
.main-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}
.gradient-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.gradient-b-to-t {
  background-image: linear-gradient(
    to top,
    #0a0a0a 0%,
    #0a0a0a99 50%,
    #0a0a0acc 100%
  );
}
.gradient-l-to-r {
  background-image: linear-gradient(
    to right,
    #0a0a0ab3 0%,
    #0a0a0a00 50%,
    #0a0a0ab3 100%
  );
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text-content {
  margin-top: -10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  text-align: center;
}

.hero-text-content strong {
  font-size: 1.6rem;
  font-family: var(--barlow-font);
  font-weight: 500;
  text-transform: uppercase;

  padding: 0.8rem 1.6rem;
  border-radius: 10rem;
  border: solid 1px var(--pink-red-30);
  background-color: var(--pink-red-10);
}

.hero-text h1 {
  font-family: var(--roadstore-font);
  font-size: 10rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 75%;
  filter: drop-shadow(0 0.4rem .6rem rgba(255, 255, 255, 0.15));
}

.hero-text p {
  font-family: var(--barlow-font);
  max-width: 73.6rem;
  font-size: 2.4rem;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.hero-btns {
  display: flex;
  gap: 4rem;
}

.hero-btns button {
  width: 29rem;
  padding: 2rem 0;

  font-family: var(--barlow-font);
  font-size: 1.8rem;
  font-weight: 700;
}

.hero-btns button:hover {
}

.hero-btns button:not(.border-btn) {
  padding: 2.2rem 4rem;
}
