@import url("./style.css");

@media (max-width: 728px) {
  /* general */

  p {
    font-size: 1.4rem !important;
  }
  button {
    padding: 1.6rem 2.8rem !important;
    font-size: 1.6rem !important;
  }
  section {
    padding: 0 1.5rem;
  }

  header {
    justify-content: space-between;
    padding: 0.7rem 3rem;
    min-width: 32rem;
    nav {
      display: none;
    }
    img.media-hidden {
      display: block;
      width: 3.8rem;
      height: auto;
    }
  }
  main {
    .hero {
      padding: 0 1.5rem;
      flex-flow: column-reverse;
      .hero-text {
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        text-align: center;
        h1 {
          font-size: 1.6rem;
          font-weight: 400;
        }
        strong {
          font-size: 3.2rem;
          text-align: center;
        }
        p {
          line-height: 1.6rem;
        }
        .hero-btns {
          flex-flow: column;
          a,
          a button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
          }
        }
      }
      .splide {
        li {
          max-height: 40rem;
          img {
            height: 31.5rem;
          }
          .splide__pagination__page {
            display: none;
          }
        }
      }
    }
  }
  section.apresentation {
    flex-flow: column;
    padding: 20rem 1.5rem;
    gap: 4rem;
    .apresentation-logo {
      width: 20rem;
    }
    .apresentation-text {
      p {
        font-size: 1.6rem !important;
      }
    }
  }
  section.cortes-menu {
    padding: 0 0 15rem 0;
    div.cortes-menu-container {
      h2.cortes-menu-title {
        font-size: 4.8rem;
        padding-top: 6rem;
        margin-bottom: 5.4rem;
      }
    }
    .menu-selectors-container {
      .linha-pompeira,
      .linha-novilho,
      .linha-boutique,
      .produtos {
        justify-content: center;

        &:hover {
          background-position: center;
        }
        .menu-text {
          padding: 8rem 1rem;
          gap: 4rem;
          align-items: center;
          justify-content: center;
          text-align: center;

          h2 {
            font-size: 2.8rem;
          }
          p {
            font-size: 1.4rem;
            line-height: 1.6rem;
            margin-top: -2rem;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  section.lojas {
    padding: 0 1.5rem;
    .lojas-title-container {
      h2.lojas-title {
        font-size: 4.4rem;
      }
    }
    .lojas-content-container {
      flex-flow: column;
      padding-bottom: 10rem !important;
      .lojas-map {
        img {
          /* max-width: 25rem; */
        }
        .loja-areas {
          display: none;
        }
      }
      .lojas-socials {
        h3 {
          text-align: center;
          font-size: 2.8rem;
        }
        .lojas-lista {
          a {
            .dom-item-lista {
              span {
                font-size: 1.6rem;
              }
              .item-lista-content {
                img {
                  width: 2rem;
                  height: 2rem;
                }
              }
              img {
                width: 1.2rem;
                height: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

  section.about {
    gap: 5rem;
    .nossa-historia,
    .nossa-missao {
      padding: 0 1.5rem;
      gap: 2rem;
      h3 {
        font-size: 3.2rem;
      }
      p {
        font-size: 1.4rem;
      }
      .nossa-historia-img,
      .nossa-missao-img {
        max-width: 100%;
        max-height: 30rem;
      }
    }
    .nossa-historia {
      flex-flow: column;
    }
    .nossa-missao {
      flex-flow: column-reverse;
    }
  }
  section.franqueados {
    padding: 2rem 2rem;
    gap: 2rem;
    h3 {
      font-size: 2.8rem;
      text-align: center;
    }
    p {
      font-size: 1.4rem;
    }
  }

  footer {
    .main-footer {
      padding: 0 1.5rem;
      .footer-up {
        flex-wrap: wrap;
        .footer-logo {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .footer-contents {
          flex-wrap: wrap;
        }
      }
      .footer-down {
        gap: 2rem;
        .footer-horarios {
          display: flex;
          flex-flow: column;
          gap: 2rem;
          .horario {
            gap: 0.5rem !important;
            flex-flow: column;
            justify-content: center;
            align-items: center;
          }
          .sunday {
            margin-bottom: 1rem;
          }
        }
      }
    }
    .footer-rights {
      span {
        font-size: 1rem;
      }
    }
  }
}
